<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vignesh portfolio</title>
   <link rel="stylesheet" href="{% static 'css/folio.css' %}">
</head>
<body style="background-image: url('{% static 'img/5.jpg' %}');">
  <div class="navbg" style="">
    <nav><div class="icon">portfolio....!</div>
      <div class="right">  
   <a href="{% url 'home' %}" class="navangular">Home</a>
      <a href="{% url 'project' %}" class="navangular" style="color: red;">project's</a>
      <a href="{% url 'contact' %}" class="navangular">contact</a>
      <a href="{% url 'about' %}" class="navangular">about</a></div>
    </nav>
  </div>
  </div>
  <!------------------------- first project---------------------------------------------->
  <div class="projectbg">
<div class="chlidproject"><div><lable id="project_list">Project : <lable> 1</lable></div>
 <label for="" id="title"> <u> ADVENTURE GAMES DEVELOPMENT</u></label>
<br><br><br>
<div style="display: flex; width: 100%;">
  <div class="div"><p class="para">This website heading  name is <i>OCEAN OF GAMES</i>.</p>
  <pre class="para">    Then,
             using language's for <b>Html, css, Javascript, Django</b>
  </pre>
  <table>
    <tr><th>HTML :</th><td> 21 game's added in webpage,any one game click to another website open </td></tr>
    <tr><th>CSS  : </th><td>ANIMATION'S using with colors, <br>picture rounded shape,<br> Hover,<br>font decorattion,<br>exe !...</td></tr>
    <tr><th>javascript :</th><td> login button </td></tr>
    <tr><th>Django :</th><td> Front End view in Back End,
      then, click to another website call. </td></tr>
  </table>
</div>
  <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
  <img src="{% static 'img/op1.png' %}" alt="" width="650px" height="350px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
</div></div>

<!------------------------- secound project---------------------------------------------->

<div class="chlidproject"><div><lable id="project_list">Project : <lable> 2</lable></div>
 <label for="" id="title"> <u> LOGIN PAGE</u></label>
<br><br><br>
<div style="display: flex; width: 100%;">
  <div class="div"><p class="para">Login page creation in  <i>OWN</i>.</p>
  <pre class="para">    Then,
             using language's for <b>Html, css, Javascript,</b>
  </pre>
  <table>
    <tr><th>HTML :</th><td> Basic codes </td></tr>
    <tr><th>CSS  : </th><td> colors, <br>background image,<br> Hover,<br>font decorattion,<br>exe !...</td></tr>
    <tr><th>javascript :</th><td>confirm password <br> password validation </td></tr>
  </table>
</div>
  <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
  <img src="{% static 'img/log.png' %}" alt="" width="650px" height="350px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
</div></div>

<!------------------------- theird project---------------------------------------------->

<div class="chlidproject"><div><lable id="project_list">Project : <lable> 3</lable></div>
 <label for="" id="title"> <u>PORTFOLIO</u></label>
<br><br><br>
<div style="display: flex; width: 100%;">
  <div class="div"><p class="para">PORTFOLIO creation in resume model<i></i>.</p>
  <pre class="para">    Then,
             using language's for <b>Html, css, Django</b>
  </pre>
  <table>
    <tr><th>HTML :</th><td> Basic codes </td></tr>
    <tr><th>CSS  : </th><td>ANIMATION'S using with colors, <br>picture shape,<br> Hover,<br>font decorattion,<br>exe !...</td></tr>
    <tr><th>Django :</th><td> Front End view in Back End,
      then, click to another website call. </td></tr>
  </table>
</div>
  <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
  <img src="{% static 'img/port.png' %}" alt="" width="650px" height="350px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
</div></div>

<!------------------------- fourth project---------------------------------------------->

<div class="chlidproject"><div><lable id="project_list">Project : <lable> 4</lable></div>
 <label for="" id="title"> <u>MINI CALCULATOR</u></label>
<br><br><br>
<div style="display: flex; width: 100%;">
  <div class="div"><p class="para">Mini Caculator create <i>sum project</i>.</p>
  <pre class="para">    Then,
             using language's for <b>Html, css, Javascript</b>
  </pre>
  <table>
    <tr><th>HTML :</th><td> Basic codes </td></tr>
    <tr><th>CSS  : </th><td>colors,<br> Hover,<br>font decorattion,<br>exe !...</td></tr>
    <tr><th>Javascript :</th><td>Addition, subtraction, multiphlication, division, and module .
    </td></tr>
  </table>
</div>
  <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
  <img src="{% static 'img/cal.png' %}" alt="" width="650px" height="350px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
</div></div>

<!------------------------- fivth project---------------------------------------------->

<div class="chlidproject"><div><lable id="project_list">Project : <lable> 5</lable></div>
 <label for="" id="title"> <u>ELIGIBLE IN VOTE</u></label>
<br><br><br>
<div style="display: flex; width: 100%;">
  <div class="div"><p class="para">Eligible in vote for<i>mini</i>.</p>
  <pre class="para">    Then,
             using language's for <b>Html, css, Javascript</b>
  </pre>
  <table>
    <tr><th>HTML :</th><td> Basic codes </td></tr>
    <tr><th>CSS  : </th><td>colors,<br>font decorattion,<br>exe !...</td></tr>
    <tr><th>Javascript :</th><td> Conditional statement using.if...! and elseif....! and else...!
    </td></tr>
  </table>
</div>
  <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
  <img src="{% static 'img/vote.png' %}" alt="" width="600px" height="165px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;">
  <img src="{% static 'img/vote2.png' %}" alt="" width="600px" height="165px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
</div></div>

<!------------------------- sixth project---------------------------------------------->

<div class="chlidproject"><div><lable id="project_list">Project : <lable> 6</lable></div>
 <label for="" id="title"> <u>RESUME</u></label>
<br><br><br>
<div style="display: flex; width: 100%;">
  <div class="div"><p class="para">RESUME create <i>my bio</i>.</p>
  <pre class="para">    Then,
             using language's for <b>Html, css,</b>
  </pre>
  <table>
    <tr><th>HTML :</th><td> Basic codes </td></tr>
    <tr><th>CSS  : </th><td>colors,<br>linear gradiant with conic<br>font decorattion,<br>exe !...</td></tr>
   </tr>
  </table>
</div>
  <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
  <img src="{% static 'img/resume.png' %}" alt="" width="650px" height="350px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
</div></div>

<!------------------------- seventh project---------------------------------------------->

<div class="projectbg">
  <div class="chlidproject"><div><lable id="project_list">Project : <lable> 7</lable></div>
   <label for="" id="title"> <u>  GAMES website</u></label>
  <br><br><br>
  <div style="display: flex; width: 100%;">
    <div class="div"><p class="para">This website heading  name is <i>2023 PC  GAMES</i>.</p>
    <pre class="para">    Then,
               using language's for <b>Html, css, Django</b>
    </pre>
    <table>
      <tr><th>HTML :</th><td> 21 game's added in webpage,any one game click to another website open </td></tr>
      <tr><th>CSS  : </th><td>ANIMATION'S using with colors, <br>picture rounded shape,<br> Hover,<br>font decorattion,<br>exe !...</td></tr>
      <tr><th>javascript :</th><td> login button </td></tr>
      <tr><th>Django :</th><td> Front End view in Back End,
        then, click to another website call. </td></tr>
    </table>
  </div>
    <div class="div"><label for="" class="output">Shample OUTPUT</label> <br>
    <img src="{% static 'img/game2.png' %}" alt="" width="650px" height="350px" style="margin-top: 15px; border-radius: 30px; border: 3px solid black;"></div>
  </div></div>
  
  
</body>
</html>